.mainContainer{

    background-color: white;
    width: 50%;
    height: 82vh;
    border-radius: 15PX;
    margin-left: 25%;

}

body{
    background: linear-gradient(
    135deg,
    #b7c7f6 0%,
    #d8ccf1 50%,
    #f2d6ea 100%
  );
}


.title{
        color: #3a3a3a;
    font-family: sans-serif;
    margin-left: 40%;
}

.title::after{
    content: "App";
    color: #9e26c991;
    margin-left: 5px;
    
}

.upper{
    display: flex;
}

#img{
    width: 70px;
    height: 70px;
}
.textEnter{

    margin-top: 38px;
    padding: 16px;
    border-radius: 10px;
    margin-left: 30px;
    padding-right: 50vh;
    border: none;
    background-color: lightgray;
}

.textEnter::placeholder{

    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
   
}

.headingPart{
    display: flex;
    gap: 25px;

}

.search{
    text-align: center;
    margin-top: 38px;
    padding: 18px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(135deg, #6a3df0, #5a2dfc);
    color: white;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer ;
    transition: transform .5s;
     padding-right: 25px;
     font-size: 16px;
}

.search:hover{
background-color: rgb(216, 87, 40);
    cursor: pointer;
    transform: scale(1.1);

}

ul li{
    list-style: none;
    padding: 8px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    position: relative;
    margin-left: 18px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}


ul li::before{
    content: '';
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(icons/unchecked.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 3px;
    left: -30px;

}


ul li.checked{
    text-decoration: line-through;
}
ul li.checked::before{
   
    background-image: url(icons/checked.png);
}




ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    width: 30px;
    height: 30px; 
    text-align: center;
    border-radius: 10px;
    line-height: 30px;
    color: #555;
    
}

ul li span:hover{
    background-color: #edeef0;

}

